@font-face {
    font-family: 'Malik';
    src: url('Malik-Extrabold.woff2') format('woff2'),
        url('Malik-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Malik';
    src: url('Malik-Extrabold.woff2') format('woff2'),
        url('Malik-Extrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStdPE';
    src: url('AvertaStdPE-Semibold.woff2') format('woff2'),
        url('AvertaStdPE-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStdPE';
    src: url('AvertaStdPE-Regular.woff2') format('woff2'),
        url('AvertaStdPE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStdPE';
    src: url('AvertaStdPE-Bold.woff2') format('woff2'),
        url('AvertaStdPE-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStdPE';
    src: url('AvertaStdPE-Semibold.woff2') format('woff2'),
        url('AvertaStdPE-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStdPE';
    src: url('AvertaStdPE-Bold.woff2') format('woff2'),
        url('AvertaStdPE-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStdPE';
    src: url('AvertaStdPE-Regular.woff2') format('woff2'),
        url('AvertaStdPE-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

